mixin napoveda(napoveda)
  .row.help-container
    if napoveda.aktivity
      .help-activities
        each activity, index in napoveda.aktivity
          .help-activity
            i.icon-svg
              svg
                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-" + activity)
        if napoveda.text
          .help-text
            h6= t.help.help[lang]
            span !{typeset(napoveda.text)}
