<h1>Vzpomínky Oskarova bratra Norberta</h1>
<p>Můj otec byl významný obchodník a po příchodu Němců se mu dostalo rady, aby nezůstával doma, protože jej
  Němci mohou hledat. [...] Rozhodl se proto okamžitě odejít. [...] Protože byl pátek [předvečer šabatu, na nějž zbožní
  Židé nesmějí cestovat], museli jsme jít pěšky, byli jsme ortodoxní. Jediné věci, které si můj otec vzal s sebou,
  byl talit a tefilin [plášť a řemínky nošené při modlitbě]. To bylo vše, co zbylo bohatému, prosperujícímu a respektovanému obchodníku.
  Rozhodli jsme se jít do Bohumína, kde žil bratr mé matky, Jakob Bronner. [...] z Bohumína jsme pokračovali do rodiště
  mého otce, Osvětimi.
</p>
<p>Když Němci vpochodovali do Československa, můj bratr Oskar, o deset let starší než já, byl v Polsku na
  obchodní cestě. Pracoval pro naši textilní společnost, cestoval po zemi a prodával naše výrobky. [...] Jakmile
  němečtí vojáci vkročili do Ostravy, zavolali jsme mu a řekli, aby se nevracel. Oskar měl dostatek peněz,
  a tak promluvil s několika přáteli a zorganizoval letadlo, kterým přiletěli z Varšavy do Londýna.
  Bohužel jim ale odmítli povolit vstup. [...] Bratr a jeho přátelé se proto rozhodli žádat o statut
  uprchlíků, ale Britové to nechtěli uznat a rozhodli se je poslat zpět do Polska. Bylo tam deset českých
  židovských uprchlíků, deset mladých mužů z Československa. Můj bratr byl mladý, ale velmi nápaditý a sehrál
  zásadní roli v tom, že těch deset nakonec mohlo zůstat. Když měli na letišti nastoupit do letadla, jímž měli být
  vráceni, bratr najednou vytvořil velký zmatek. Křičel a ječel, lehl si na podlahu, kopal kolem sebe
  a odmítal vstát. Později nám o tom vyprávěl. Bylo tam několik reportérů, kteří ho fotografovali.
</p>
<p>[...] dánský pilot naštěstí odmítl vzlétnout. Když viděl ten zmatek, odmítl tyto zoufalé lidi vzít na palubu. Bylo
  to jediné letadlo z Londýna do Varšavy. Znovu to byl mazl [štěstí]. Tak těch deset mužů ve vězení očekávalo svůj
  osud, zatímco Britové o nich rozhodovali. Potom o této události vyšel článek na titulní straně Daily Mailu,
  s obrázkem mého bratra, který je odnášen zpět do letadla [...]. Vzbudilo to velkou nevoli. [...] Nakonec bylo
  všech deset propuštěno a po několika dnech získali povolení zůstat v Anglii.
</p>
