.zadani {
  max-width: $base-unit * 45;
  padding: 0 $base-unit;
  margin: $base-unit 0 $base-unit * .75;

  // *:last-child {
  //   margin-bottom: 0;
  // }

  h1 {
    font-size: ms(3);
    line-height: ms-line-height(2);
    margin-bottom: 0;
  }

  h1 + h2 {
    font-size: ms(1);
    // line-height: ms-line-height(1);
    margin: $base-unit * .25 auto 0;
    display: block;
    max-width: $base-unit * 35;
  }
}
