.slides {
  width: 100vw;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  will-change: transform, width;
  transition: transform .38s, width .38s;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  text-align: center;

  // display: flex;
  // flex-flow: column;
  background-color: $bg-color-2;

  &.previous-slide {
    transform: translate3d(-100vw, 0, 0);

    @include mq($min-width: $screen-l + 1) {
      &.half-slide-active,
      &.half-slide-previous {
        width: 50%;
      }

      &.half-slide-active {
        transform: translate3d(-50vw, 0, 0);
      }
    }

    &.half-slide-previous {
      transform: translate3d(-100vw, 0, 0);
      border-right: 1px solid lighten($bg-color, 3);
    }
  }

  @include mq($min-width: $screen-l + 1) {
    &.previous-to-active-slide {
      &.half-slide-previous {
        width: 50%;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &.active-slide {
    width: 100%;

    @include mq($min-width: $screen-l + 1) {
      &.half-slide-active {
        width: 50%;
        transform: translate3d(50vw, 0, 0);
      }
    }
  }

  &.next-slide {
    transform: translate3d(100vw, 0, 0);

    @include mq($min-width: $screen-l + 1) {
      &.half-slide-active {
        width: 50%;
        transform: translate3d(100vw, 0, 0);
      }
    }
  }

  @for $i from 1 through 10 {
    $bg-color: darken(#f2f2f2, $i * $i);

    .slide:nth-child(#{$i}) {
      background: $bg-color;
    }
  }
}

.hide-on-previous-slide {

  @include mq($min-width: $screen-l + 1) {
    .previous-slide & {
      display: none;
    }
  }
}

.row {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 0 $base-unit * .5;

  @include min-screen($screen-l) {
    padding: 0 $base-unit;
  }

  &.slideNaPul {
    padding: 0;
  }
  /*
  je opravdu nutne?
  &:first-child {
    padding-top: $base-unit * 3;
    background-color: $bg-color;
  }

  &:last-child {
    flex: 1;
    padding-bottom: $base-unit * 2;
    margin-bottom: 0;
  }
  */

  &.with-submodule,
  &.module-with-draggable {
    justify-content: center;

    @include max-screen($screen-l) {
      flex-direction: column;
    }
  }
}


.items {
  align-items: flex-start;
  justify-content: space-between;
  background: $bg-color-2;
  padding-bottom: $base-unit;
  line-height: 0;
}

.item {
  flex: 1;
  flex: 1 1 0;

  .row {
    padding: 0 0 $base-unit;
  }
}

.layout-horizontal {
  display: flex;
  align-items: stretch;
  justify-content: center;

  @include max-screen($screen-l) {
    flex-direction: column;
  }

  @include min-screen($screen-l) {
    align-items: stretch;
    justify-content: space-between;

    > * {
      flex: 1;
      flex: 1 1 0;
      margin: 0 1%;
    }


    .item-5 {
      flex: 1 20%;
    }
  }
}

.layout-vertical {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}
