<p>375. Zvláště krutý požadavek Versailleského diktátu. Německé děti trpěly následky podvýživy, 800 000 civilních osob zemřelo následkem blokády. Přesto musila německá vláda odevzdati Belgii a Francii 140 000 dojnic.</p>
<p>Roku 1931 poskytla jedna kontrolovaná dojnice 3678 l mléka.</p>

<ol type="a">
    <li>Kolik l mléka by bylo poskytlo 140 000 krav za jeden rok?</li>
    <li>Kolik l mléka by bylo mohlo každé německé školní dítě dostati denně k snídani? (8 milionů školních dětí, 240 dní školy.)</li>
    <li>1932 se dovezlo do Německa 69 000 t másla. Kolik setin tohoto množství by se bylo mohlo vyrobiti z mléka oněch krav? (28 l mléka dá 1 kg másla.)</li>
  </ol>
