<h1>Viděno v širších souvislostech.</h1>
<p>Jedenadvacáté výročí srpnových událostí z roku 1968 se mělo stát podle různých sil doma i v zahraničí signálem pro protistátní konfrontační střetnutí. Takový je objektivní smysl všech akcí – od různých petic až po organizování pouličních provokací.</p>
<p>Síly, které se chtějí za takovou opozici v Československu dnes vydávat, a jejich zahraniční „poradci“ a spojenci rozehráli k 21.&nbsp;srpnu širokou škálu příprav. Nenechali nikoho na pochybách, že jde o pouliční demonstraci za každou cenu, i když na oko alibisticky vytvářeli dojem, že od takových akcí své stoupence odrazovali.</p>
<p>Konkrétní událost, k níž opravdu došlo 21.&nbsp;srpna v centru Prahy, navíc poskytuje důkaz o širší „internacionalizaci“ pražské provokace.</p>
